/*
**
Base colors and font styles
**
*/

//COLORS
//Common Colors

$black: #121212;
$white: #FFF;
$black-5: #F3F3F3;
$red: #ED0E00;
$red-80: #F13E33;
$red-10: #FFE2E0;
$turquoise: #1598A6;
$turquoise-80: #44ADB8;
$turquoise-bright-10: #E8F8F9;
$pink: #E0016C;
$pink-80: #E63489;
$pink-10:#FFE7F3;
$blue-dark:#09546E;
$blue-dark-80: #3A768B;
$yellow:#FED731;
$blue-light-60: #DEF6FF;
$brown-light-35: #FBECCF;
$lime-40: #F5FFCD;
$blue-pale-40:#DCEAFF;
$brown-pale: #EDDFD3;
$pumpkin-35: #EDDFD3;
$violet-light-40: #F8E3FF;
$yellow-30: #FFF0BD;
$green-pale: #E3FFC7;


//Interface Colors
$red-dark: #AD0000;
$red-dark-25:#EBBFBF;
$red-dark-5: #FBF2F2;
$orange-dark:#E56700;
$orange:#FA973B;
$orange-30:#FDE0C4;
$orange-10:#FFF5EB;
$blue:#0071C2;
$green: #2FAC3B;
$green-40:#ACDEB1;
$green-10:#EAF7EB;
$burgundy: radial-gradient(74.89% 145.47% at 88.79% 20%, #9A2148 0%, #7A042A 100%);
$burgundy-light:#FFEBEB;

$black-90: #2A2A2A;
$black-80:#414141;
$black-70:#595959;
$black-60:#717171;
$black-50:#888888;
$black-40:#A0A0A0;
$black-30:#B8B8B8;
$black-20:#D0D0D0;
$black-10:#E7E7E7;
$black-2: #FAFAFA;

$blackout-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
$blackout-60: rgba(18, 18, 18, 0.6);
$blackout-40: rgba(18, 18, 18, 0.4);
$blackout-20:rgba(18, 18, 18, 0.2);
$blackout-12:rgba(18, 18, 18, 0.12);
$blackout-5:rgba(18, 18, 18, 0.05);

$white-96:rgba(255, 255, 255, 0.96);
$white-80:rgba(255, 255, 255, 0.8);
$white-70:rgba(255, 255, 255, 0.7);
$white-50:rgba(255, 255, 255, 0.5);
$white-30:rgba(255, 255, 255, 0.3);
$white-10:rgba(255, 255, 255, 0.1);
$white-5:rgba(255, 255, 255, 0.05);


//Communication Colors
$red-35:#FFAFAA;
$red-25:#FFC3BF;
$pumpkin:#FF8144;
$ginger-pale:#FFC247;
$ginger-pale-60:#FFD98D;
$green-dark:#6EA603;
$green-bright:#B0D749;
$lime:#E3FF74;
$green-light:#EBFF9B;
$pink-40:#F399C4;
$pink-30:#F6B3D3;
$violet:#B196FF;
$violet-light:#E6BEFF;
$brown-light:#F1C87A;
$brown-light-60:#FFE2AB;
$turquoise-bright:#33BECC;
$turquoise-bright-50:#99DEE5;
$turquoise-pale:#B7F0E6;
$turquoise-pale-50: #D3FFF7;
$turquoise-pale-30:#E2FFFA;
$pumpkin-bright:#FF9A23;
$blue-bright:#55A5C3;
$blue-light:#C3EFFF;
$yellow-70:#FFE37E;
$blue-pale:#A7C7F9;
$blue-pale-70:#C2DAFF;



//TEXT STYLES (здесь можно собирать все возможные значения, которые встречаются в проектах)
//font weight
$font-b: 700;
$font-db: 600;
$font-m: 500;
$font-r: 400;

//font size
$font-s1: 36px;
$font-s2: 30px;
$font-s3: 25px;
$font-s4: 24px;
$font-s5: 22px;
$font-s6: 20px;
$font-s7: 18px;
$font-s8: 16px;
$font-s9: 15px;
$font-s10: 14px;
$font-s11: 13px;
$font-s12: 12px;
$font-s13: 11px;

//font line-height
$font-lh1: 44px;
$font-lh2: 40px;
$font-lh3: 30px;
$font-lh4: 29px;
$font-lh5: 24px;
$font-lh6: 22px;
$font-lh7: 20px;
$font-lh8: 18px;
$font-lh9: 13px;